$white : #fff;
$grey  : #f8f8f8;
$grey-md: #777;
$black : #000;
$orange: #FF6633;
$grey-dark : #111;
$grey-dark2: #222;


body {
  background-color: #f4f2f2;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.orange {
  color: $orange;
}
.white {
  color: $white;
}
.float-right {
  float: right;
}
.main-image {
  .buffer-top {
    padding-top: 100px;
  }
}
.top100 {
  margin-top: 100px;
}
.header {
  margin: 0;
  padding: 0; 
  border-bottom: none;
  .navbar {
    margin: 0;
    min-height: 50px;
    background-color: $grey-dark;
    border: none;
    border-radius: 0;
  }
  .navbar-inverse {
    background: none;
    border: none;
    padding: 10px;
  }
  .navbar-nav {
    padding: 10px;
    li {
      a {
        color: $white;
        &:hover {
          color: $grey-md;
          background-color: $grey-dark2;
        }
        &:focus {
          color: $orange;
        }
      }
    }
  }
  .brand {
    padding: 40px;
  }
  .navbar-toggle {
    margin-left: 15px;
    float: left;
  }
  .logo {
    max-width: 50px;
    margin-top: 8px;
  }
  .hamburger {
    margin-top: 5px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    background-color: $grey-dark;
    border: none;
  }
  .margin-top-xs {
    margin-top: 2px;
  }
}
.main-image {
  color: white;
  margin-top: -20px;
  min-height: 450px;
  background: url("/images/greyback.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .search-area {
    background: rgba(0,0,0,0.5);
    padding: 30px;
    margin-top: 115px;
    max-width: 500px;
    .form-control {
      height: 50px;
    }
  }

}
.jumbotron {
  padding: 0;
  margin: 0;
}

// Media Queries
// Phablet and above
@media(min-width: 768px) {
  .header {
    .navbar, .navbar-inverse {
      height: 65px;
    }
  }  

}

// Mobile Screen
@media (max-width: 767px) {
  .header{
    .navbar-nav{
      display: block;
      padding: 0 15px;
      margin: 0 -15px;
    }
    .navbar-toggle, .navbar-default {
      border: none;
    }
    .navbar-collapse {
      border-top: 1px solid $grey-dark;
    }
    .logo {
      max-width: 40px;
      margin-top: 5px;
    }
    .login {
      float: right;
      .icon {
        padding: 15px 25px;
        color: $white;
      }
    }
    button.navbar-toggle.collapsed {
      border: none;
      .icon-bar {
        background-color: $white;
      }
      &:hover, &:focus, &:active{
        background-color: $black;
      }
    }
    button.navbar-toggle:hover, button.navbar-toggle:focus {
      border: none;
      background-color: $black;
      .icon-bar {
        transition-duration: 1s;
        background-color: $orange;
      }
    }
    button.navbar-toggle {

      .icon-bar.vertical-bar {
          transition-duration: 0.5s;
          transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
        }
      .icon-bar.horizontal-bar {
          transition-duration: 0.5s;
          transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);

        }
      
    }
    button.navbar-toggle {
      .icon-bar {
        transition-duration: 1s;
      }
    }
    .modal-dialog {
      margin: 10px;
    }
  }
}