// Colors
$white : #fff;
$grey  : #f8f8f8;
$grey-md: #777;
$black : #000;
$orange: #FF6633;
$grey-dark : #111;
$grey-dark2: #222;
$grey-dark3: #333;
$grey-dark4: #444;
$grey-dark5: #555;
$main-bg-color: #f4f2f2;