<div class="container center top100">

  <div class="row">
    <a class="col-xs-3" ng-click="showTab(1)">First</a>
    <a class="col-xs-3" ng-click="showTab(2)">Second</a>
    <a class="col-xs-3" ng-click="showTab(3)">Third</a> 
    <a class="col-xs-3" ng-click="showTab(4)">Fourth</a>    
  </div>

<br>

<div class="center">
  <div ng-if="currentTabIndex === 1">
    <ul class="list" ng-repeat="item in lists">
      <li>
        {{item.title}}, 
        <span> {{item.category}}, </span>
        <span> {{item.description}}, </span>
        {{item.price | currency}} <input ng-click="deleteList(item.id)" type="checkbox">
      </li>
    </ul>
  </div>
  <div ng-if="currentTabIndex === 2">2</div>
  <div ng-if="currentTabIndex === 3">3</div>
  <div ng-if="currentTabIndex === 4">4</div>
</div>
<p>{{successMsg}}</p>
<p>{{errorMsg}}</p>
<form action=""></form>

<form ng-submit="addList()">
  <input type="text" ng-model="title" placeholder="title"/>
  <input type="text" ng-model="category" placeholder="category"/>
  <input type="text" ng-model="price" placeholder="price"/>
  <input type="text" ng-model="description" placeholder="description"/>
  <input type="submit" />
</form>

</div>