<div class="main-image center">

    <h1 class="buffer-top">EXCLUSIVE FOOD</h1>
    <h5>Amazing food delivered to your door</h5>
    <br>
    <p>
      <a href="#/info" class="btn btn-default btn-lg">How?</a>
    </p>
    
<!--     <div class="col-lg-12 search-area form-group center">
        <input type="text" placeholder="address" class="form-control">
        <span class="input-group-btn"><button class="btn btn-default">Submit</button></span>
    </div> -->
    <div class="input-group col-lg-12 search-area center">
      <input type="text" class="form-control text-area" placeholder="address" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">Submit</span>
    </div>


</div>
