<div class="main-image center">

    <!-- <h1 class="buffer-top"><span class="orange">d</span>esign <span class="orange">e</span>at <span class="orange">l</span>ove <span class="orange">b</span>alance</h1>
    <h5>Market place for amazing products</h5>
    <br> -->
   
    <!-- <div class="input-group col-lg-12 search-area center">
      <input type="text" class="form-control text-area" placeholder="address" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">Submit</span>
    </div> -->


</div>
